<div class="park-viewer-container">
  <section class="top-section">
    <h2 class="page-title">כל הפארקים</h2>
    <div class="search-and-sort-row">
      <div class="search-container">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange(searchTerm)"
          placeholder="חפש פארק לפי שם / עיר / כתובת"
        />
      </div>
      <div class="sort-wrapper-inline">
        <label for="sort-select" class="sort-label">מיין לפי:</label>
        <div class="select-custom-container">
          <select
            id="sort-select"
            class="sort-dropdown"
            #sortSelect
            (change)="onSortChange(sortSelect.value)"
          >
            <option value="">בחר אפשרות</option>
            <option value="new">מהחדש לישן</option>
            <option value="recommended">מומלצים</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <main class="page-layout">
    <aside class="chat-sidebar">
      <app-parks-chat></app-parks-chat>
    </aside>

    <section class="content-area">
      @if (parksList && parksList.length > 0) {
        <section class="parks-grid">
          @for (park of parksList; track $index) {
            <article class="park-card">
              <!-- תמונה -->
              <div class="park-image-wrapper">
                <img
                  [src]="'data:image/jpeg;base64,' + park.imageBase64"
                  class="park-image"
                  alt="Park"
                />
                @if (isLoggedIn) {
                <app-favorite-button [parkId]="park.id" class="favorite-icon-overlay">

                </app-favorite-button>
              }
              </div>

              <!-- תוכן -->
              <div class="park-info">
                <!-- שם הפארק -->
                <h3 class="park-title">{{ park.name }}</h3>

                <!-- עיר -->
                <p class="park-city">
                  {{ park.city?.name }}
                </p>

                <!-- מעלה -->
                <div class="uploader">
                  <img
                    *ngIf="park.userDTO?.imageBase64"
                    class="uploader-img"
                    [src]="'data:image/jpeg;base64,' + park.userDTO.imageBase64"
                  />
                  <div class="uploader-details">
                    <span class="label">Uploaded by </span><br />
                    <span class="uploader-name">{{ park.userDTO?.name }}</span>
                  </div>
                </div>

                <button class="details-button" (click)="showDetails(park)">
                  View All Reports
                </button>

                <!-- <div class="favorites-wrapper">
                  <button
                    class="details-button secondary"
                    
                    (click)="addToFavorites(park)"
                  >
                    ❤️ הוספה למועדפים שלי
                  </button>
                </div> -->

                <!-- --------------------------- -->

                <!-- @if (isSelectedInList(park)) {
                  
                  <div>הפריט כבר קיים ברשימה!</div>
                } @else {

                  <div class="favorites-wrapper">
                  <button
                    class="details-button secondary"
                    
                    (click)="addToFavorites(park)"
                  >
                    ❤️ הוספה למועדפים שלי
                  </button>
                </div>
                } -->
              </div>
            </article>
          }
        </section>
      } @else {
        <div class="no-parks-message empty-state">
          .לא נמצאו פארקים
          <p>!היה הראשון לשתף</p>
        </div>
      }
    </section>
  </main>

  <footer class="site-footer">
    <p>Park Share Vibe © 2024. All rights reserved.</p>
  </footer>
</div>
