<div class="homepage-container">
<div class="homepage-welcome-card">
  <h1>!SeePark ברוכים הבאים ל</h1>
  <p>
  .כאן תוכלו לגלות פארקים מכל רחבי הארץ, לקרוא מידע על פארקים קיימים ולראות תמונות אמיתיות מהשטח
  </p>
    <p>
  .מצאתם פארק חדש ושווה? תוכלו לשתף אותו כדי שגם אחרים יכירו אותו
  </p>
  <p>
   ,ניתן גם לעדכן ולדווח על מידע בפארקים שכבר קיימים באתר
  </p>
    <p>.כדי לשמור על פרטים מדויקים ועדכניים לכל מי שמתכנן ביקור
  </p>
<p><b>
  !התחילו לחפש פארקים, לגלות מקומות חדשים ולשתף חוויות מהשטח
  </b>
  </p>
</div>
</div>

  <footer class="site-footer">
    <p>Park Share Vibe © 2025. All rights reserved.</p>
  </footer>

