<div class="park-viewer-container">
  <section class="top-section">
    <h2 class="page-title">❤️ פארקים שאהבתי</h2>
  </section>

  <main class="page-layout">
    <aside class="chat-sidebar">
      <app-parks-chat></app-parks-chat>
    </aside>

    <section class="content-area">
      @if (favorites && favorites.length > 0) {
        <section class="parks-grid">
          @for (park of favorites; track park.id) {
            <article class="park-card">
              <div class="park-image-wrapper">
                <img
                  [src]="'data:image/jpeg;base64,' + park.imageBase64"
                  class="park-image"
                  alt="{{ park.name }}"
                />
                @if (isLoggedIn) {
                <app-favorite-button [parkId]="park.id" class="favorite-icon-overlay">

                </app-favorite-button>
              }
              </div>

              <div class="park-info">
                <h3 class="park-title">{{ park.name }}</h3>

                <p class="park-city">
                  {{ park.city?.name }}
                </p>

                <div class="uploader">
                  <img
                    *ngIf="park.userDTO?.imageBase64"
                    class="uploader-img"
                    [src]="'data:image/jpeg;base64,' + park.userDTO.imageBase64"
                  />
                  <div class="uploader-details">
                    <span class="label">פורסם על-ידי </span><br />
                    <span class="uploader-name">{{ park.userDTO?.name }}</span>
                  </div>
                </div>

                <button class="details-button" (click)="showDetails(park)">
                  כל הדיווחים על הפארק
                </button>
              </div>
            </article>
          }
        </section>
      } @else {
        <div class="no-parks-message empty-state">
          <p>.עדיין אין לך פארקים מועדפים</p>
        </div>
      }
    </section>
  </main>

  <footer class="site-footer">
    <p>Park Share Vibe © 2024. All rights reserved.</p>
  </footer>
</div>
